<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Магазин</title>
    <link rel="stylesheet" href="../../static/css/entry.css" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/css/menu.css.css" type="style/css">

</head>
<body>

<ul class="nav" style="background-color: #7DC00F;">
    <h2 th:text="${account.NAME_FIRST}" style="margin-left: 20px; padding-top: 15px;"></h2>
    <a href="/h_logout" class="btn btn-primary btn-lg active" style="margin-left: auto; margin-right: 0px; display: inline-block; background-color: #4B7309; height: 80px; padding-top: 20px; border-radius: 0px; "  >Выход</a>
</ul>

<div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left: 40%; margin-top: 40px">
    <label class="" style="text-align: center">
        <a th:href="@{/mag/mag/{id}(id=${account.ID})}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="height: 80px; padding-top: 24px; background-color: #7DC00F; border-radius: 0px;"> Показатели </a>
    </label>
    <label class="" style="text-align: center">
        <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" style="height: 80px; padding-top: 24px; background-color: #4B7309; border-radius: 0px;" > Запросы </a>
    </label>
    <label class="" style="text-align: center">
        <a href="/mag/newreq" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" style="height: 80px; background-color: #7DC00F; border-radius: 0px;" > Новый</br>Запрос </a>
    </label>
</div>

<div style="width: 70%; margin-left: 15%">
    <h2 th:text="${contrs.NAME}"></h2>
    <h4 th:text="'Механик: '+ ${contrs.IDMEH}">Механик: </h4>
    <h4 th:text="'Диспетчер: ' + ${contrs.IDDIS}"></h4>
    <h5 th:text="'Магазин: ' + ${contrs.MAGAdress}"></h5>
    <div class="form-group">
        <h5>Описание:</h5>
        <textarea th:text="${contrs.DESC}" class="form-control" id="exampleFormControlTextarea1" rows="3" readonly></textarea>
    </div></br>
    <h5 th:text="'Статус: ' + ${contrs.STATUS}"></h5>
</div>

</body>
</html>